<nav>
    <a href="/wishlist">My Wishlist</a>
    <a href="/add-item">Add Item</a>
    <% if (userId) { %>
      <form action="/logout" method="post"><button>Log out</button></form>
    <% } else { %>
      <a href="/login">Log in</a> | <a href="/register">Register</a>
    <% } %>
  </nav>
  <hr>
  