<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body class="flex-wrapper">
    <h1>Add Item</h1>

    <form action="/addItem" method="POST">
        <input type="text" name="itemName" placeholder="Item Name">
        <br>
        <input type="text" name="itemDescription" placeholder="Item Description">
        <br>
        <input type="number" step="0.01" name="itemPrice" placeholder="Item Price">
        <br>
        <textarea type="" name="itemLink" placeholder="Item Link"></textarea>
        <br>
        <textarea type="text" name="itemImage" placeholder="Item Image URL"></textarea>
        <br>
        <br>
        <button type="submit">Add Item</button>
    </form>
    <br>
    <h2 style="text-align: center;">Or</h2>
    <br>
    <form action="/viewWishlist">
        <input type="text" name="findItem" placeholder="Search Up an Item">
        <button type="submit">Find Items</button>
    </form>

    <!-- We will will this div up with items and a button to 
     use JavaScript to fill in the contents above -->
    <div>

    </div>

    <%- include('partials/footer') %>
</body>
</html>