<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
<body class="flex-wrapper">
    <h1 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 60px;">Wishlist</h1>

    <form action="/login">
        <button> Login </button>
    </form>
    <form action="/signUp">
        <button>Sign Up</button>
    </form>

    <%- include('partials/footer') %>
</body>
</html>