<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body class="flex-wrapper">
    <h1>Landing</h1>

    <form action="/viewWishlist">
        <button>View Wishlist</button>
    </form>

    <form action="/friends">
        <button>Friends List</button>
    </form>

    <form action="/signOut">
        <button>Sign Out</button>
    </form>

    <%- include('partials/footer') %>
</body>
</html>