<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body class="flex-wrapper">
    <h1>Your Wishlist</h1>
    
    <form action="/addItem">
        <button>Add an Item to Wishlist</button>
    </form>
    <!-- Item For Loop will go here, an if statement 
     to consider if its empty will be good too -->
    <div>
        <p>placeholder</p>
    </div>
    <%- include('partials/footer') %>
</body>
</html>