h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 25px;
}

form {
    text-align: center;
    align-items: center;
    margin: 20px;
}

body{
    background-image: linear-gradient(rgb(194, 194, 194),rgb(131, 131, 131));
}

.flex-wrapper{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

.footer{
    text-align: center;
    margin-top: auto;
}

#items{
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px;
    text-transform: capitalize;
}

.element{
    border: 3px solid rgb(241, 241, 241); 
    padding: 10px; 
    margin: 10px; 
    border-radius: 10px; 
    flex: 1 1 calc(33.333% - 20px); 
    box-sizing: border-box;
}