h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

form {
    text-align: center;
    align-items: center;
    margin: 20px;
}

body{
    background-image: linear-gradient(rgb(194, 194, 194),rgb(131, 131, 131));
}

.flex-wrapper{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

.footer{
    margin-top: auto;
}